.Home {
    height: 100%;
}

.Side-Content > div {
    border-style: solid;
    margin-bottom: 15px;

}

.Side-Content {
    padding-right: 0px;
    padding-left: 0px;
}

.Main-Content {
    margin-bottom: 10px;
    border-style: solid;
    height: 300px;
}