.Footer {
    text-align: center;
    vertical-align: 50%;
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    color: black;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-top-color: grey;
    border-width: thin;
}

ul {
    list-style: none;
}

.copyright {
    text-align: center;
    min-width: 100%;
}