.Footer {
    vertical-align: 50%;
    position: absolute;
    bottom: 0;
    height: 120px;
    width: 100%;
    color: black;
    background-color: white;
    border: solid;
    border-color: white;
    border-top-color: grey;
    border-width: thin;
}

.FooterLinks {
    margin: 0;
    padding: 0;
    display: inline;
}

.FooterLinks > div > a {
    text-decoration: none;
}

.FooterLinks > ul {
    list-style: none;
    display: inline-block;
}

.FooterLinks > ul > li {
    display: inline;
}

.ExternalLinks {
    left: 0px;
    position: absolute;
    
}

.InternalLinks {
    right: 0px;
    position: absolute;
    margin-right: 100px;
}