.navbar-default  {
    background-color: rgb(105, 0, 0);
    border-color: rgb(105, 0, 0);
}
.navbar {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.Brand, .navbar-brand{
    color: white !important;
    font-size: 50px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}