.Footer {
    text-align: center;
    vertical-align: 50%;
    position: absolute;
    bottom: 0;
    height: 500px;
    width: 100%;
    color: black;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-top-color: grey;
    border-width: thin;
}

ul {
    list-style: none;
}

@media (max-width: 800px) {
    .Footer {
        height: 600px;
    }
}