.navbar-default  {
    background-color: white;
    border-color: white;
    border-bottom-color: grey;
}
.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.Brand, .navbar-brand{
    color: black !important;
    font-size: 50px;
}

.Brand:hover, .navbar-brand:hover{
    color: grey !important;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}