:root {
  --main-bg-color: #004445; 
}


.App {
  text-align: left;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  position: relative;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: white;
}

.navbar, .navbar-expand-sm, .navbar-dark, .bg-dark {
    background: var(--main-bg-color) !important;
    
}

.content {
  padding-top: 50px;
  height: auto;
}